
<h1>{arrangement.titel}</h1>
<f:format.html>{arrangement.beskrivelse}</f:format.html>

<p>
<b>Dato</b><br />
{arrangement.startDato -> f:format.date()} - 
{arrangement.slutDato -> f:format.date()}
<br />
</p>
<p><b><f:translate key="tx_arrangementer_domain_model_arrangement.pris" />: </b><br />
		{arrangement.pris}
<br />
</p>
<p>
<b>M&aring;lgruppe</b><br />
{arrangement.maalgruppe}
<br />
</p>

<f:if condition="{arrangement.sted}">
    <f:render partial="Sted/Properties" arguments="{_all}" />
</f:if>

<f:if condition="{arrangement.tilmeldingstekst}">
    <f:then>
        <p>{arrangement.tilmeldingstekst}</p>
    </f:then>
    <f:else>
        <f:if condition="{arrangement.openForParticipants}">
            <p><b><a href="http://www.duk.dk/arrangementer/tilmelding/?tx_powermail_pi1[field][uid78]={arrangement.titel}">Tilmeld nu</a></b></p>
        </f:if>
    </f:else>
</f:if>




