
<table class="tx-arrangementer" >
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.titel" />
		</td>
		<td>
		{arrangement.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.beskrivelse" />
		</td>
		<td>
		{arrangement.beskrivelse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.start_dato" />
		</td>
		<td>
		{arrangement.startDato -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.slut_dato" />
		</td>
		<td>
		{arrangement.slutDato -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.pris" />
		</td>
		<td>
		{arrangement.pris}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.open_for_participants" />
		</td>
		<td>
		{arrangement.openForParticipants}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.tilmeldingstekst" />
		</td>
		<td>
		{arrangement.tilmeldingstekst}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.maalgruppe" />
		</td>
		<td>
		{arrangement.maalgruppe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_arrangementer_domain_model_arrangement.registrerings_dato" />
		</td>
		<td>
		{arrangement.registreringsDato -> f:format.date()}
		</td>
	</tr>
</table>