
<h1>{arrangement.titel}</h1>
<f:format.html>{arrangement.beskrivelse}</f:format.html>

<div>
<p>
<b>Dato</b><br />
{arrangement.startDato -> f:format.date()} - 
{arrangement.slutDato -> f:format.date()}
<br />
</p>
<p><b><f:translate key="tx_arrangementer_domain_model_arrangement.pris" />: </b><br />
		{arrangement.pris}
<br />
</p>
<p>
<b><f:translate key="tx_arrangementer_domain_model_arrangement.maalgruppe" /></b><br />
{arrangement.maalgruppe}
<br />
</p>
<p><b><a href="/tilmelding">Tilmeld nu</a></b></p>
</div>

