
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<!-- h1>Arrangementer</h1 -->
<f:flashMessages renderMode="div" />
<table  class="tx_arrangementer" style="background: snowwhite; width: 100%" cellspacing="3" cellpadding="3">
	<tr>
		<th><f:translate key="tx_arrangementer_domain_model_arrangement.titel" /></th>
		<th><f:translate key="tx_arrangementer_domain_model_arrangement.start_dato" /></th>
		<th><f:translate key="tx_arrangementer_domain_model_arrangement.slut_dato" /></th>
		<th><f:translate key="tx_arrangementer_domain_model_arrangement.pris" /></th>
		<th>Tilmeld</th>
	</tr>

	<f:for each="{arrangements}" as="arrangement">
		<tr>
			<td><f:link.action action="show" arguments="{arrangement : arrangement}"> {arrangement.titel}</f:link.action></td>
			<td>{arrangement.startDato -> f:format.date()}</td>
			<td>{arrangement.slutDato -> f:format.date()}</td>
			<td>{arrangement.pris}</td>
			<td><a href="/tilmelding/">Tilmeld dig</a></td>
		</tr>
	</f:for>
</table>
</f:section>
