
<f:layout name="Default" />

<f:section name="main">
<!-- h1>Arrangementer</h1 -->
<f:flashMessages renderMode="div" />
<table class="tx_arrangementer" style="background: snowwhite; width: 100%; table-layout: fixed;" cellspacing="2" cellpadding="2">
	<tr>
		<th><f:translate key="tx_arrangementer_domain_model_arrangement.titel" /></th>
		<th style="width: 56px !important;"><f:translate key="tx_arrangementer_domain_model_arrangement.start_dato" /></th>
		<th style="width: 56px !important;"><f:translate key="tx_arrangementer_domain_model_arrangement.slut_dato" /></th>
		<th style="width: 47px !important;"><f:translate key="tx_arrangementer_domain_model_arrangement.pris" /></th>
		<th style="width: 47px !important;">Tilmeld</th>
	</tr>

	<f:for each="{arrangements}" as="arrangement">
		<tr>
		   <td><f:link.action action="show" arguments="{arrangement : arrangement}"> {arrangement.titel}</f:link.action></td>
		   <td>{arrangement.startDato -> f:format.date()}</td>
		   <td>{arrangement.slutDato -> f:format.date()}</td>
		   <td>{arrangement.pris}</td>
		   <td>
                     <f:if condition="{arrangement.tilmeldingstekst}">
                       <f:then>
			 {arrangement.tilmeldingstekst}
                       </f:then>
                       <f:else>
                         <f:if condition="{arrangement.openForParticipants}">
                           <a href="http://www.duk.dk/arrangementer/tilmelding/?tx_powermail_pi1[field][uid78]={arrangement.titel -> f:format.urlencode()}">Tilmeld</a>
                         </f:if>
                    </f:else>
                     </f:if>
		   </td>
                </tr>
	</f:for>
</table>
</f:section>
